<html>
  <header th:replace="template::Heading"></header>
  <body>
    <div th:replace="template::navBar"></div>
    <div class="content" align="center">
      <br />
      <h1>Edit Person Information</h1>
      <br>
        <form th:action="@{/person/edit/{id}(id = ${editedPerson.id})}" th:object="${editedPerson}" method="POST">
        <table class="table w-auto">
          <tr>
            <th>ID:</th>
            <td><input type="number" disabled name="id" th:field="${editedPerson.id}"/></td>
          </tr>
          <tr>
            <th>Name:</th>
            <td><input type="text" required name="name" placeholder="Name of person" th:field="${editedPerson.name}"/></td>
          </tr>
          <tr>
            <th>Job:</th>
            <td><input type="text" required name="job" placeholder="Job title" th:field="${editedPerson.job}"/></td>
          </tr>
          <tr>
            <th>Gender:</th>
            <td>
                <input class="form-check-input" th:checked="${isMale}" required type="radio" name="gender" value="Male">Male</input>
                &nbsp;&nbsp;&nbsp;
                <input class="form-check-input" th:checked="${!isMale}" required type="radio" name="gender" value="Female">Female</input>
            </td>
          </tr>
          <tr>
            <th>Email:</th>
            <td><input type="email" required name="email" placeholder="Email address"  th:field="${editedPerson.email}"/></td>
          </tr>
        </table>
        <br />
        <button type="sumbit">Submit</button>
      </form>
    </div>
  </body>
</html>
