<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
	<head>
		<title>List People</title>
	</head>
	<body>
		<section layout:fragment="content">
			<br />
			<div align="center">
				<div th:if="${addNew}">
					<h1>Adding new data sucess!</h1>
				</div>
				<h1>People List</h1>
				<br />
				<form class="view-choice" th:action="@{/list}" method="get" th:object="${view}">
					<span>View as: </span>
					<input type="radio" name="limit" value="5" id="5" th:checked="${view.limit == 5}" />
					<label for="5">5 </label>
					&nbsp;
					<input type="radio" name="limit" value="10" id="10" th:checked="${view.limit == 10}" />
					<label for="10">10</label>
					&nbsp;
					<input type="radio" name="limit" value="15" id="15" th:checked="${view.limit == 15}" />
					<label for="15">15</label>
					<input type="number" name="offset" hidden th:value="${view.offset}" />
					<br />
					<br />
					<input th:if="${view.offset != 0}" class="btn btn-info" type="submit" name="move" value="Prev" />
					&nbsp;&nbsp;
					<input class="btn btn-info" type="submit" name="move" value="Next" />
				</form>
				<br />
				<table class="table table-striped w-auto">
					<thead class="bg-success text-white text-center">
						<tr>
							<th>No.</th>
							<th>Full Name</th>
							<th>Email</th>
							<th>Gender</th>
							<th>Job</th>
							<th colspan="3">Action</th>
						</tr>
					</thead>
					<tbody class="tbody">
						<tr th:each="person, iStat:${list}">
							<td th:text="${iStat.count}">No.</td>
							<td th:text="*{person.fullName}">Name</td>
							<td th:text="*{person.email}">Email</td>
							<td th:text="*{person.gender}">Gender</td>
							<td th:text="*{person.job}">job</td>
							<td>
								<a href="#" th:href="@{/view_{id}(id = ${person.id})}"
									><button type="button" class="btn btn-info">View</button></a
								>
							</td>
							<td>
								<a href="#" th:href="@{/edit_{id}(id = ${person.id})}"
									><button type="button" class="btn btn-warning">Edit</button></a
								>
							</td>
							<td>
								<a href="#" th:href="@{/delete_{id}(id = ${person.id})}"
									><button type="button" class="btn btn-danger">Delete</button></a
								>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</body>
</html>
